/* Estilos base para dispositivos móviles y tablets */
@media only screen and (max-width: 768px) {
body {
font-size: 16px;
}
h1 {
font-size: 24px;
}
#content {
margin-top: 30px;
}
#question {
font-size: 36px;
}
#answer-input {
font-size: 24px;
padding: 8px;
margin-top: 15px;
}
#answer-btn,
#next-btn {
font-size: 20px;
padding: 8px 16px;
margin-top: 15px;
}
}

/* Estilos para tablets y pantallas más grandes */
@media only screen and (min-width: 769px) {
body {
font-size: 18px;
}
h1 {
font-size: 36px;
margin-top: 80px;
}
#content {
margin-top: 80px;
}
#question {
font-size: 48px;
}
#answer-input {
font-size: 32px;
padding: 12px;
margin-top: 30px;
}
#answer-btn,
#next-btn {
font-size: 24px;
padding: 12px 24px;
margin-top: 30px;
}
}
